<% if @closed_notices %>
	<ul>
		<% @closed_notices.each do |notice| %>
			<li><%= link_to "#{notice.summary}", notice %></li>
		<% end %>
	</ul>
<% else %>	
	<p>No notices have been closed.</p>
<% end %>