<section id="inspection-new">
	<div class="row">
		<div class="eight columns">
			<%= render "form" %>
		</div>
	</div>
	<div class="row">
		<div class="eight columns">
			<p><%= link_to "Back to Facility", :back %></p>
			<p><%= link_to "Back to List", notices_path %></p>
		</div>
	</div>
</section>


