<section id="dashboard">
	<div class="page-header">
	    <h1>Dashboard</h1>
	</div>
	<% if current_user.client_user? %>
		<%= render "pages/client/dashboard" %>
	<% else %>
		<%= render "pages/vendor/dashboard" %>
	<% end %>	

</section>