/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
 *= require_self
 *= require twitter/bootstrap
 *= require_tree . 
*/

.topbar {
	position:relative !important;
}

.container section {
	margin-top: 2em;
}

.panel {
	background: rgba(150,150,150,.1);
	border:1px solid rgba(150,150,150,.2);
	border-radius:4px;
	padding:1em;
	margin-bottom:1em;
}

h1 > a, h2 > a, h3 > a, h4 > a {color:inherit;}

p.notice, p.alert {
	width: 40%;
	margin: 1em auto;
	display: block;
	text-align: center;
	padding:.5em;
}
p.alert {background: rgba(200,50,50,.3); border:1px solid rgba(200,50,50,.8);}
p.notice {background: rgba(250,255,170,.3); border:1px solid rgba(240,230,210,1);}