<section id="inspection-new">
	<div class="row">
		<div class="eight columns">
			<%= render "form" %>
		</div>
	</div>
	<div class="row">
		<div class="eight columns">
			<%= link_to "Back to Facility", :back %>
		</div>
	</div>
</section>